//colores

$color-fondo: #b7ccdd;
$rosa: #fcecdd;
$shadow-rosa: #b3a599;
$azul-oscuro: #425660;
$azul-seccion:#C7DDF0;
$azul-fondo-seccion: rgba(255, 255, 255, 0.335);
//sombras
$sombraBox: 7px 8px 12px black ;
$sombraFondo: rgba(0, 0, 0 , 0.4);

//fuentes
$fuentePrincipal:  'Roboto', sans-serif;